#-*- mode: git-ignore -*-

# Ignore Python artifacts
*.py[co]
__pycache__/
.python-version
# Ignore packages
.env
.pnpm
.npm
.yarn
# Ignore OS-specific files
.DS_Store
# Ignore project-specific files
.idea/
.vscode/
*.swp
*.swo
# Ignore sensitive files
.env
# Ignore backup files
backups/
# Ignore state files
state.json
